* {
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style: none;
}

html {
	height: 100%;
}

.userName{
	letter-spacing: 15px;
	align-self: center;
	text-align: center;
}

body {
	width: 100%;
	height: 100%;
	background-color: #23262a;
	background-image: url("../img/background.jpg");
	background-size: cover;
	font-family: "meslo", serif;
	color: #fff;
	font-size: 14px;
	position: relative;
}

#grid{
	display: flex;
	flex-wrap: wrap;
	padding: 10%; 
	position: fixed;
	box-sizing: border-box;
}

.shortcut{
	margin-left: 15px;
	margin-right: 15px;
}

.shortcut-icon{
	background-color: whitesmoke;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100px;
	min-height: 100px;
	margin: 10px;
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	border-radius: 10px;
}

.shortcut-name{
	background-color: #23262a;
	color: aliceblue;
	opacity: 0.77;
	width:90%;
	max-width: 110px;
	margin: 5%;
	text-align: center;
	align-self: center;
	border-radius: 5px;
}

a{
	color: inherit;
}

.fullscreen{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

#main{
	z-index: 10;
}

img{
	width: 100%;
}

#editModal{
	opacity: 1;
	z-index: 1000;
	position: fixed;
	width: 500px;
	height: 350px;
	top: 50%;
	left: 50%;
	padding-top: 15px;
	margin-top: -175px; /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
	border-radius: 10px;
}

#editModal .panel{
	height: 350px;
}

#editModalClose{
	width: 25px;
	height: 25px;
	margin: 0px;
	margin-left: 90%;
	position: absolute;
	display: block;
}

 #saveEditBtn{
	text-align: center;
	position: absolute;
	display: block;
} 

#background {
	background-color: lightgray;
	opacity: 0.5;
	z-index: 1;
}

.deleteBtn{
	width: 15px;
	height: 15px;
	margin: 0px;
	margin-left: 95px;
	position: absolute;
	display: block;
}

.editBtn{
	width: 25px;
	height: 25px;
	margin: 0px;
	padding-left: 15px;
	position: absolute;
	display: block;
}

.editBtn img{
	background-color: whitesmoke;
	border-radius: 3px;
}

.deleteBtn > img, .editBtn > img{
	width: 15px;
	height: 15px;
	left: 95%;
}

canvas{
  display: block;
  vertical-align: bottom;
}

.container {
	width: 55rem;
	height: 100%;
	margin: 0px auto;
	position: relative;
}

.repositories {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.repositories .repo {
	width: 46%;
	padding: 10px 0px;
	margin: 0 2% 20px 2%;
}

.repositories .repo h3 {
	font-weight: normal;
	margin: 0px 0px 5px 0px;
}

.repositories .repo h3 a {
	color: #e4d72f;
}

.repositories .repo h3:hover a {
	text-decoration: underline;
}

.repositories .repo .description {
	margin-bottom: 5px;
}

.repositories .repo .extras .extra {
	display: inline-block;
	margin-right: 25px;
	color: #949ba2;
}

.options {
	width: 50%;
	margin: 0 25%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.options h1, #editModalClose h3 {
	font-size: 23px;
	margin: 0 0 10px 0;
}

.options .panel, #editModal .panel {
	width: 100%;
	padding: 10px;
	background-color: rgba(52,60,65,.9);
}

.options .panel .option, .form-field {
	width: 100%;
	padding: 5px 0;
}

.options .panel .option label, .form-field label {
	font-size: 12px;
	width: 100%;
	display: inline-block;
	margin-bottom: 5px;
}

.options .panel .option select, .form-field input {
	width: 96%;
	padding: 5px 2%;
	background-color: #8b9196;
	color: #949ba2;
	outline: none;
	border: 0;
	border-radius: 3px;
	font-size: 14px;
	font-family: "meslo", serif;
}

.options .panel .option input {
	width: 96%;
	padding: 5px 2%;
	background-color: #8b9196;
	color: #949ba2;
	outline: none;
	border: 0;
	font-family: "meslo", serif;
	border-radius: 3px;
	font-size: 14px;
}

.options .panel .option button, #modalContent #saveEditBtn {
	width: 96%;
	padding: 8px 2%;
	margin-top: 25px;
	outline: none;
	border: 0;
	cursor: pointer;
	font-family: "meslo", serif;
	background-color: #3c763d;
	color: #fff;
}

@font-face {
  font-family: "meslo";
  src: url("../font/MesloLGLDZ-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
